body {
  background-color: tan; /*Change background color*/
  padding: 20px; /*add space (padding) of 20px around page content */
}

.movieParagraph {
  font-size: 25px;
  font-style: italic; /* Changing font style */
}

.movieList {
  font-size: 18px;
  font-style: italic; /* Changing font style */
  font-family: fantasy, Arial, Helvetica, sans-serif; /* Changing font family */
}
